{% if site.google_analytics %}
	<!-- Google Analytics (only loads if user has consented) -->
	<script>
		// We will initialize analytics only after user consent
		// The initialization happens in cookie-consent.js
		window.analyticsId = '{{ site.google_analytics }}';
		
		// If consent was already given and the page is being loaded/refreshed,
		// the cookie-consent.js script will handle enabling analytics
		
		// This file intentionally doesn't load any analytics code directly
		// All analytics initialization happens in cookie-consent.js after consent
	</script>
	<!-- End Google Analytics -->
{% endif %}
