.pagination {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid $lightGray;
}

.pagination .previous,
.pagination .next {
  padding: 5px 15px;
  border-radius: 3px;
  background-color: $blue;
  color: $white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination .previous:hover,
.pagination .next:hover {
  background-color: darken($blue, 10%);
  text-decoration: none;
}

.pagination span.previous,
.pagination span.next {
  background-color: lighten($darkerGray, 10%);
  color: $lightGray;
  cursor: not-allowed;
}

.pagination .page_number {
  margin: 0 15px;
  color: $lightGray;
}
